<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		
		<!-- Register for your own API key at worldweatheronline.com -->
		<add key="WORLD_WEATHER_ONLINE_API_KEY" value="" />
		<!-- Register for your own API key at www.wunderground.com/weather/api/ -->
		<add key="WUNDERGROUND_API_KEY" value="" />
		<add key="USE_IGOOGLE" value="false" />
		
	</appSettings>	
</configuration>
